---
description: A template for TruthfulQA MC1
author: Calvin
version: 1.0
---

# Instruction
{{ instruction }}

# Question
{{ question }}

# Choices
{% for option in options %}
{{ option }}
{% endfor %}

